In [42]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'/home/dami/Progetti_unifi/DMO/Dataset/Dataset CdS3+CdS4.csv', sep= ';')
print(len(df))
df

532

,degree,cohort,gender,school,test,total_cfu,total_cfu_g,avg_g,math_course_g,math_course_d
0,CdS3,2010,M,LS,15.00,32,30,25,21,2011-02-25
1,CdS3,2010,M,LS,10.00,14,12,27,0,0000-00-00
2,CdS3,2010,F,LC,8.00,24,24,28,0,0000-00-00
3,CdS3,2010,F,LS,16.00,39,39,26,19,2011-02-25
4,CdS3,2010,M,AL,12.00,6,6,27,0,0000-00-00
...,...,...,...,...,...,...,...,...,...,...
527,CdS4,2016,F,LL,5.50,27,24,28,0,0000-00-00
528,CdS4,2016,M,IT,8.25,39,36,23,19,2017-02-23
529,CdS4,2016,M,LS,3.75,48,48,21,18,2017-02-02
530,CdS4,2016,M,IT,3.75,12,12,26,0,0000-00-00
531,CdS4,2016,F,LL,1.25,51,48,23,20,2017-02-02

In [43]:
CdS3 = df["degree"]

type(df.degree)
type(CdS3)
CdS3.tolist()
type(CdS3)

pandas.core.series.Series

In [44]:
# importing one hot encoder from sklearn 
from sklearn.preprocessing import OneHotEncoder 
  
# creating one hot encoder object with categorical feature 0 
# indicating the first column 
onehotencoder = OneHotEncoder(categorical_features = [0]) 
df = onehotencoder.fit_transform(df).toarray()

/home/dami/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

ValueError: could not convert string to float: 'CdS3'