# Descrizione Dataset

Primo Anno Coorti 2010-2016 per 2 CdS della Scuola di SMFN

Il data set contiene record relativi a studenti di 7 coorti e 2 CdS della Scuola di SMFN. 
Ogni record ha i seguenti attributi: degree, cohort, gender, school, test, total_cfu, total_cfu_g, avg_g,
math_course_g, math_course_d 

In particolare, per ogni coorte si hanno i risultati della produttivita' fino a dicembre dell'anno successivo all'anno di immatricolazione:

immatricolati coorte 2010 - produttivita' fino a dicembre 2011
immatricolati coorte 2011 - produttivita' fino a dicembre 2012
immatricolati coorte 2012 - produttivita' fino a dicembre 2013
immatricolati coorte 2013 - produttivita' fino a dicembre 2014
immatricolati coorte 2014 - produttivita' fino a dicembre 2015
immatricolati coorte 2015 - produttivita' fino a dicembre 2016
immatricolati coorte 2016 - produttivita' fino a dicembre 2017

Legenda per school, la scuola di provenienza

LS = Liceo Scientifico
LC = Liceo Classico
IT = Istituto Tecnico Industriale
TC = Istituto Tecnico Commerciale
IP = Istituto Professionale
AL, XX, etc = Altro


Nota sul test (test di autovalutazione):
- negli anni 2010-2015, il test di autovalutazione della Scuola di SMFN era costituito da un questionario con 25 domande: 
ogni risposta corretta era valutata 1 e ogni risposta sbagliata o non data era valutata 0; il test risultava superato con un punteggio >=12.
- dal 2016, il test di autovalutazione della Scuola di Scienze e' costituito da un questionario con 20 domande:
ogni risposta corretta viene pesata con valore 1, ogni risposta sbagliata con -0.25 e ogni risposta non data con 0; il test risulta superato con punteggio >=8.


Nota sui crediti:
"total_cfu_g": sono crediti che corrispondono ad esami con attribuzione di voto, eventualmente anche riconoscimenti da altri CdS.
"total_cfu": comprendono i crediti con voto, quelli di esami per i quali non e' previsto un voto e quelli di eventuali 
riconoscimenti da altri CdS senza riattribuzione del voto.

"avg_g" e' il voto medio degli esami sostenuti

"math_course_g" e' il voto preso all'esame con contenuti di analisi matematica del I anno (se 0 significa che l'esame non e' stato sostenuto)
"math_course_d" e' la data dell'esame di cui al punto precedente

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('/home/dami/Progetti_unifi/DMO/Dataset/Dataset CdS3+CdS4.csv', sep= ';')
print(len(df))

532

# EXPLORATION OF DATA:

Valori unici per le categoriche

In [2]:
print("degree = " + str(df.degree.unique()))
print("cohort = " + str(df.cohort.unique()))
print("gender = " + str(df.gender.unique()))
print("school = " + str(df.school.unique()))

degree = ['CdS3' 'CdS4']
cohort = [2010 2011 2012 2013 2014 2015 2016]
gender = ['M' 'F']
school = ['LS' 'LC' 'AL' 'IA' 'TC' 'IT' 'LL' 'IP']

Indici per le continue

In [3]:
def summary(x):
    C = [np.mean(x), (np.var(x))**(1/2), np.median(x), np.quantile(x, 0.25), np.quantile(x, 0.75), np.min(x), np.max(x), len(x)]
    print("     ", "media ", "sd " "mediana ", "quartile_1 ", "quartile_3 ", "min ", "max ", "lengh ")
    return C

print("test" + str(summary(df.test)))
print(summary(df.total_cfu_g))
print(summary(df.avg_g))
print(summary(df.math_course_g))

#Ci sono missing?
df[pd.isnull].count()

      media  sd mediana  quartile_1  quartile_3  min  max  lengh
test[11.228383458646617, 5.085731442387344, 11.0, 8.0, 15.0, -1.75, 24.0, 532]
      media  sd mediana  quartile_1  quartile_3  min  max  lengh
[24.084586466165412, 15.592025724144113, 24.0, 12.0, 36.0, 0, 60, 532]
      media  sd mediana  quartile_1  quartile_3  min  max  lengh
[23.607142857142858, 6.402374567878032, 25.0, 23.0, 27.0, 0, 31, 532]
      media  sd mediana  quartile_1  quartile_3  min  max  lengh
[11.528195488721805, 11.159858336785588, 18.0, 0.0, 21.0, 0, 31, 532]

degree           0
cohort           0
gender           0
school           0
test             0
total_cfu        0
total_cfu_g      0
avg_g            0
math_course_g    0
math_course_d    0
dtype: int64

In [18]:
from pandas_profiling import ProfileReport

profile = ProfileReport(df, title='df', html={'style':{'full_width':True}})
profile

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦

## La variabile test in relazione alla variabile cohort
Nota sul test (test di autovalutazione):
- negli anni 2010-2015, il test di autovalutazione della Scuola di SMFN era costituito da un questionario con 25 domande: 
ogni risposta corretta era valutata 1 e ogni risposta sbagliata o non data era valutata 0; il test risultava superato con un punteggio >=12.
- dal 2016, il test di autovalutazione della Scuola di Scienze e' costituito da un questionario con 20 domande:
ogni risposta corretta viene pesata con valore 1, ogni risposta sbagliata con -0.25 e ogni risposta non data con 0; il test risulta superato con punteggio >=8.

In [5]:
# Calcolo il numero di studenti appartenenti alla e cohort 2010-2015 e quelli appartenenti a 2016
somma10_15 = 0
somma16 = 0
for i in df.cohort:
    if i != 2016:
        somma10_15= i/i + somma10_15
    else:
        somma16 = i/i + somma16

In [6]:
print("N. studenti cohorte 2010-2015 = " + str(int(somma10_15)))
print("N. studenti cohorte 2016 = " + str(int(somma16)))
(somma10_15 + somma16) == len(df.cohort)

N. studenti cohorte 2010-2015 = 443
N. studenti cohorte 2016 = 89

True

In [7]:
# Calcolo le posizioni degli studenti di cohorte 10_15 e degli studenti di cohorte 16
posizione10_15 = []
posizione16 = []
for counter,value in enumerate(df.cohort):
    if value != 2016:
        #print(counter,value)
        posizione10_15.append(counter)
    else:
        #print(counter,value)
        posizione16.append(counter)

In [8]:
# valuto le statistiche dei due gruppi di valutazione per stabilire che NORMALIZZAZIONE EFFETTUARE

print(summary(df.test[posizione10_15]))
print(summary(df.test[posizione16]))
print("FAI UN INTERVALLO DI CONFIDENZA")

      media  sd mediana  quartile_1  quartile_3  min  max  lengh
[12.44469525959368, 4.418664250188256, 12.0, 9.0, 16.0, 0.0, 24.0, 443]
      media  sd mediana  quartile_1  quartile_3  min  max  lengh
[5.174157303370786, 3.6612924619742655, 5.0, 2.25, 7.75, -1.75, 14.75, 89]
FAI UN INTERVALLO DI CONFIDENZA

In [9]:
# dato che al passo precendete ho visto che gli studenti si sono classificati in media con una valutazione
# appena sufficiente per la modalitÃ  di valutazione (10-15) e con una valutazione insufficiente per l'anno 2016
# ho ritenuto opportuno dicotomizzare l'esito con 0, 1 per indicare l'avvenuta sufficienza o meno del test
#costruisco una variabile indicatrice dell'esito (successo = 1 se passato al test), (successo = 0 se non passato al test)
# del test tenendo conto delle due modalitÃ  di valutazione

i = 0 #contatore
esito = []
testNorm = []
for j in df.cohort:
    if j== 2016 and df.test[i] >= 8:
        esito.append(1)
    elif j== 2016 and df.test[i] < 8:
        esito.append(0)
    elif j != 2016 and df.test[i] >=12:
        esito.append(1)
    else:
        esito.append(0)
    print(str(esito[i]) +" "+ str(df.cohort[i]) +"  " + str(df.test[i]) ) 
    
    i = i +1
esito

1 2010  15.0
0 2010  10.0
0 2010  8.0
1 2010  16.0
1 2010  12.0
1 2010  14.0
0 2010  10.0
0 2010  11.0
1 2010  16.0
1 2010  22.0
0 2010  6.0
1 2010  14.0
1 2010  16.0
1 2010  21.0
0 2010  9.0
0 2010  9.0
1 2010  19.0
1 2010  18.0
1 2010  16.0
0 2010  9.0
0 2010  11.0
0 2010  11.0
1 2010  15.0
0 2011  0.0
0 2011  8.0
0 2011  11.0
0 2011  9.0
0 2011  11.0
0 2011  11.0
0 2011  10.0
0 2011  11.0
1 2011  14.0
0 2011  9.0
1 2011  14.0
1 2011  16.0
1 2011  15.0
0 2011  9.0
0 2011  9.0
1 2011  12.0
0 2011  5.0
0 2011  9.0
0 2011  8.0
0 2011  10.0
1 2011  23.0
0 2011  9.0
0 2011  8.0
1 2011  13.0
1 2011  14.0
1 2011  15.0
1 2011  13.0
0 2011  8.0
0 2011  6.0
1 2011  14.0
1 2011  13.0
0 2011  7.0
1 2011  12.0
0 2011  10.0
0 2011  10.0
1 2011  12.0
1 2011  13.0
0 2012  9.0
0 2012  11.0
1 2012  14.0
1 2012  15.0
1 2012  13.0
0 2012  9.0
0 2012  10.0
0 2012  10.0
1 2012  13.0
0 2012  11.0
1 2012  12.0
1 2012  12.0
0 2012  7.0
1 2012  17.0
0 2012  10.0
1 2012  16.0
1 2012  13.0
0 2012  10.0
1 2012  18.0
1 2012  12.0
1 2012  12.0
1 2012  12.0
0 2012  10.0
0 2012  10.0
0 2012  7.0
0 2012  10.0
1 2012  14.0
1 2012  12.0
0 2012  8.0
1 2012  16.0
0 2012  7.0
1 2012  14.0
0 2012  11.0
0 2012  8.0
1 2012  12.0
0 2012  3.0
0 2012  7.0
0 2012  11.0
0 2012  9.0
1 2012  22.0
1 2013  22.0
0 2013  5.0
0 2013  11.0
1 2013  12.0
1 2013  21.0
1 2013  14.0
1 2013  12.0
0 2013  7.0
0 2013  9.0
0 2013  7.0
1 2013  16.0
1 2013  15.0
0 2013  11.0
1 2013  14.0
1 2013  13.0
0 2013  5.0
1 2013  15.0
1 2013  19.0
0 2013  7.0
0 2013  9.0
1 2013  17.0
1 2013  15.0
0 2013  7.0
1 2013  17.0
1 2013  16.0
1 2013  18.0
1 2013  12.0
0 2013  7.0
0 2013  3.0
1 2013  20.0
0 2013  7.0
1 2013  16.0
1 2013  14.0
1 2013  15.0
0 2014  9.0
1 2014  18.0
0 2014  10.0
1 2014  16.0
0 2014  9.0
1 2014  17.0
0 2014  8.0
0 2014  6.0
1 2014  24.0
1 2014  14.0
1 2014  13.0
1 2014  17.0
0 2014  10.0
0 2014  11.0
0 2014  8.0
0 2014  6.0
0 2014  6.0
1 2014  15.0
0 2014  3.0
1 2014  18.0
1 2014  16.0
0 2014  7.0
1 2014  19.0
0 2014  7.0
0 2014  5.0
0 2014  8.0
1 2014  16.0
1 2014  18.0
0 2014  11.0
1 2014  14.0
0 2014  6.0
0 2014  10.0
0 2014  5.0
0 2014  8.0
0 2014  11.0
1 2014  13.0
0 2014  8.0
0 2014  5.0
1 2014  22.0
1 2014  13.0
1 2014  16.0
0 2014  5.0
1 2014  12.0
1 2014  18.0
1 2014  14.0
0 2014  9.0
1 2014  17.0
1 2014  14.0
1 2014  14.0
0 2015  9.0
0 2015  11.0
0 2015  10.0
0 2015  5.0
1 2015  21.0
1 2015  13.0
1 2015  19.0
0 2015  7.0
0 2015  7.0
0 2015  6.0
1 2015  12.0
0 2015  8.0
1 2015  16.0
0 2015  11.0
1 2015  20.0
0 2015  8.0
0 2015  8.0
1 2015  18.0
0 2015  8.0
1 2015  16.0
0 2015  11.0
1 2015  16.0
1 2015  13.0
0 2015  9.0
1 2015  12.0
1 2015  17.0
1 2015  17.0
0 2015  9.0
1 2015  14.0
1 2015  19.0
1 2015  13.0
1 2015  15.0
0 2015  8.0
0 2015  8.0
1 2015  15.0
0 2015  9.0
1 2015  18.0
0 2015  10.0
1 2015  15.0
1 2015  17.0
1 2015  22.0
1 2015  12.0
1 2015  19.0
0 2015  5.0
0 2015  2.0
1 2015  17.0
0 2015  6.0
1 2015  17.0
1 2015  19.0
0 2015  10.0
1 2016  12.5
0 2016  3.75
0 2016  2.25
0 2016  1.5
0 2016  5.0
1 2016  9.25
0 2016  2.25
0 2016  7.0
0 2016  1.25
0 2016  -0.75
0 2016  7.25
0 2016  3.75
0 2016  1.75
0 2016  7.0
1 2016  8.0
1 2016  9.5
0 2016  7.5
1 2016  10.0
0 2016  -0.25
0 2016  7.0
0 2016  5.0
0 2016  3.75
0 2016  4.25
1 2016  8.5
0 2016  1.75
0 2016  1.25
0 2016  7.0
0 2016  4.5
0 2016  6.25
0 2016  4.75
1 2016  8.5
0 2016  4.25
1 2016  10.25
0 2016  7.75
0 2016  7.25
0 2016  -1.75
0 2016  7.75
0 2016  5.5
1 2016  11.5
1 2016  9.25
0 2016  6.0
0 2016  5.5
0 2016  3.5
0 2016  5.0
0 2016  0.75
1 2016  14.75
0 2016  4.25
0 2016  0.0
0 2016  4.0
1 2016  10.5
1 2016  13.5
0 2016  0.0
0 2016  6.75
0 2016  4.5
0 2016  6.0
0 2016  7.5
0 2016  2.5
0 2016  2.0
0 2016  2.75
0 2010  11.0
0 2010  11.0
0 2010  6.0
0 2010  9.0
1 2010  17.0
1 2010  19.0
1 2010  15.0
1 2010  16.0
1 2010  13.0
1 2010  20.0
1 2010  14.0
1 2010  18.0
1 2010  21.0
0 2010  9.0
1 2010  19.0
1 2010  15.0
1 2010  12.0
1 2010  15.0
1 2010  15.0
1 2010  20.0
1 2010  15.0
1 2010  12.0
1 2010  13.0
1 2010  12.0
1 2010  16.0
0 2010  8.0
1 2010  14.0
1 2010  15.0
1 2010  17.0
0 2011  11.0
1 2011  12.0
0 2011  9.0
1 2011  19.0
1 2011  14.0
1 2011  12.0
1 2011  16.0
0 2011  9.0
1 2011  12.0
0 2011  9.0
0 2011  11.0
0 2011  5.0
0 2011  8.0
1 2011  14.0
1 2011  17.0
0 2011  6.0
0 2011  7.0
1 2011  13.0
0 2011  9.0
1 2011  19.0
1 2011  13.0
0 2011  11.0
1 2011  12.0
0 2011  11.0
1 2011  17.0
1 2011  15.0
0 2011  8.0
1 2011  16.0
0 2011  11.0
0 2011  4.0
0 2011  8.0
1 2011  14.0
1 2011  21.0
1 2012  14.0
0 2012  11.0
1 2012  13.0
0 2012  10.0
0 2012  9.0
0 2012  8.0
1 2012  12.0
1 2012  13.0
1 2012  18.0
0 2012  6.0
0 2012  10.0
1 2012  15.0
0 2012  10.0
1 2012  15.0
1 2012  12.0
0 2012  9.0
0 2012  8.0
1 2012  17.0
0 2012  7.0
1 2012  13.0
1 2012  13.0
1 2012  21.0
1 2012  16.0
0 2012  8.0
1 2012  15.0
0 2012  5.0
0 2012  6.0
0 2012  9.0
1 2012  17.0
0 2012  10.0
0 2012  11.0
0 2012  8.0
0 2012  7.0
0 2012  10.0
0 2012  7.0
0 2012  7.0
1 2013  18.0
1 2013  12.0
0 2013  10.0
0 2013  6.0
0 2013  9.0
1 2013  18.0
1 2013  14.0
1 2013  12.0
1 2013  15.0
1 2013  15.0
0 2013  10.0
1 2013  17.0
1 2013  17.0
1 2013  17.0
0 2013  11.0
1 2013  12.0
0 2013  9.0
0 2013  4.0
1 2013  13.0
0 2013  11.0
0 2013  7.0
0 2013  10.0
1 2013  22.0
1 2013  12.0
1 2013  15.0
1 2013  17.0
0 2013  11.0
0 2013  10.0
1 2013  15.0
0 2013  8.0
0 2013  10.0
0 2013  8.0
0 2013  8.0
1 2013  21.0
1 2013  20.0
1 2013  22.0
1 2013  12.0
1 2013  21.0
1 2013  16.0
1 2013  13.0
1 2013  16.0
1 2013  14.0
1 2013  12.0
0 2013  11.0
1 2013  22.0
1 2013  15.0
1 2013  14.0
1 2013  16.0
0 2014  11.0
1 2014  12.0
1 2014  14.0
0 2014  6.0
1 2014  13.0
1 2014  21.0
1 2014  20.0
1 2014  15.0
1 2014  18.0
0 2014  11.0
0 2014  10.0
1 2014  12.0
0 2014  6.0
0 2014  10.0
0 2014  7.0
1 2014  12.0
1 2014  13.0
0 2014  6.0
1 2014  12.0
1 2014  15.0
0 2014  6.0
1 2014  18.0
0 2014  9.0
1 2014  12.0
0 2014  9.0
0 2014  8.0
1 2014  17.0
1 2014  14.0
0 2014  7.0
1 2014  13.0
1 2014  16.0
0 2014  10.0
0 2014  9.0
1 2014  18.0
0 2014  10.0
0 2014  8.0
1 2014  16.0
1 2015  16.0
1 2015  17.0
0 2015  8.0
1 2015  15.0
1 2015  19.0
0 2015  11.0
1 2015  19.0
1 2015  15.0
1 2015  19.0
0 2015  8.0
1 2015  18.0
1 2015  12.0
1 2015  23.0
1 2015  14.0
1 2015  18.0
1 2015  21.0
0 2015  10.0
1 2015  15.0
1 2015  21.0
1 2015  20.0
1 2015  17.0
0 2015  10.0
1 2015  14.0
1 2015  15.0
0 2015  10.0
1 2015  15.0
0 2015  11.0
0 2016  1.75
0 2016  4.75
0 2016  7.75
0 2016  -1.5
1 2016  12.75
0 2016  -0.75
0 2016  5.0
0 2016  0.75
0 2016  7.75
0 2016  3.75
0 2016  2.0
1 2016  8.25
0 2016  -1.25
0 2016  1.5
0 2016  6.75
1 2016  10.5
0 2016  2.25
1 2016  9.75
0 2016  1.5
0 2016  6.0
0 2016  7.25
0 2016  -1.25
0 2016  6.5
1 2016  8.5
0 2016  5.25
0 2016  5.5
1 2016  8.25
0 2016  3.75
0 2016  3.75
0 2016  1.25

[1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0]

In [10]:
# aGGIUNGO LA VARIABILE ESITO CREATA SOPRA AL DF
# add new column using square bracket notation
df['EsitoTest'] = esito
df

,degree,cohort,gender,school,test,total_cfu,total_cfu_g,avg_g,math_course_g,math_course_d,EsitoTest
0,CdS3,2010,M,LS,15.00,32,30,25,21,2011-02-25,1
1,CdS3,2010,M,LS,10.00,14,12,27,0,0000-00-00,0
2,CdS3,2010,F,LC,8.00,24,24,28,0,0000-00-00,0
3,CdS3,2010,F,LS,16.00,39,39,26,19,2011-02-25,1
4,CdS3,2010,M,AL,12.00,6,6,27,0,0000-00-00,1
...,...,...,...,...,...,...,...,...,...,...,...
527,CdS4,2016,F,LL,5.50,27,24,28,0,0000-00-00,0
528,CdS4,2016,M,IT,8.25,39,36,23,19,2017-02-23,1
529,CdS4,2016,M,LS,3.75,48,48,21,18,2017-02-02,0
530,CdS4,2016,M,IT,3.75,12,12,26,0,0000-00-00,0
531,CdS4,2016,F,LL,1.25,51,48,23,20,2017-02-02,0

In [11]:
import matplotlib.pyplot as plt
import numpy as np


puppa = df.math_course_g.tolist()

puppa = (sorted(puppa))

print(df.corr())
df[['school','cohort']]

                 cohort      test  total_cfu  total_cfu_g     avg_g  \
cohort         1.000000 -0.316755   0.070483     0.066696  0.019614
test          -0.316755  1.000000   0.352502     0.357779  0.181614
total_cfu      0.070483  0.352502   1.000000     0.995775  0.330911
total_cfu_g    0.066696  0.357779   0.995775     1.000000  0.359831
avg_g          0.019614  0.181614   0.330911     0.359831  1.000000
math_course_g -0.108595  0.373427   0.650012     0.646212  0.217210
EsitoTest     -0.151805  0.791494   0.352304     0.353398  0.191261

               math_course_g  EsitoTest
cohort             -0.108595  -0.151805
test                0.373427   0.791494
total_cfu           0.650012   0.352304
total_cfu_g         0.646212   0.353398
avg_g               0.217210   0.191261
math_course_g       1.000000   0.308430
EsitoTest           0.308430   1.000000

    school  cohort
0       LS    2010
1       LS    2010
2       LC    2010
3       LS    2010
4       AL    2010
..     ...     ...
527     LL    2016
528     IT    2016
529     LS    2016
530     IT    2016
531     LL    2016

[532 rows x 2 columns]

In [14]:
df

,degree,cohort,gender,school,test,total_cfu,total_cfu_g,avg_g,math_course_g,math_course_d,EsitoTest
0,CdS3,2010,M,LS,15.00,32,30,25,21,2011-02-25,1
1,CdS3,2010,M,LS,10.00,14,12,27,0,0000-00-00,0
2,CdS3,2010,F,LC,8.00,24,24,28,0,0000-00-00,0
3,CdS3,2010,F,LS,16.00,39,39,26,19,2011-02-25,1
4,CdS3,2010,M,AL,12.00,6,6,27,0,0000-00-00,1
...,...,...,...,...,...,...,...,...,...,...,...
527,CdS4,2016,F,LL,5.50,27,24,28,0,0000-00-00,0
528,CdS4,2016,M,IT,8.25,39,36,23,19,2017-02-23,1
529,CdS4,2016,M,LS,3.75,48,48,21,18,2017-02-02,0
530,CdS4,2016,M,IT,3.75,12,12,26,0,0000-00-00,0
531,CdS4,2016,F,LL,1.25,51,48,23,20,2017-02-02,0

In [17]:
df.school.unique()

array(['LS', 'LC', 'AL', 'IA', 'TC', 'IT', 'LL', 'IP'], dtype=object)

In [ ]:
# Creo un csv con la variabile test dicotomizzata

In [13]:
df.to_csv('/home/dami/Progetti_unifi/DMO/Dataset/Dataset CdS3+CdS4_2.csv', sep= ';')