# Descrizione Dataset

Primo Anno Coorti 2010-2016 per 2 CdS della Scuola di SMFN

Il data set contiene record relativi a studenti di 7 coorti e 2 CdS della Scuola di SMFN. 
Ogni record ha i seguenti attributi: degree, cohort, gender, school, test, total_cfu, total_cfu_g, avg_g,
math_course_g, math_course_d 

In particolare, per ogni coorte si hanno i risultati della produttivita' fino a dicembre dell'anno successivo all'anno di immatricolazione:

immatricolati coorte 2010 - produttivita' fino a dicembre 2011
immatricolati coorte 2011 - produttivita' fino a dicembre 2012
immatricolati coorte 2012 - produttivita' fino a dicembre 2013
immatricolati coorte 2013 - produttivita' fino a dicembre 2014
immatricolati coorte 2014 - produttivita' fino a dicembre 2015
immatricolati coorte 2015 - produttivita' fino a dicembre 2016
immatricolati coorte 2016 - produttivita' fino a dicembre 2017

Legenda per school, la scuola di provenienza

LS = Liceo Scientifico
LC = Liceo Classico
IT = Istituto Tecnico Industriale
TC = Istituto Tecnico Commerciale
IP = Istituto Professionale
AL, XX, etc = Altro


Nota sul test (test di autovalutazione):
- negli anni 2010-2015, il test di autovalutazione della Scuola di SMFN era costituito da un questionario con 25 domande: 
ogni risposta corretta era valutata 1 e ogni risposta sbagliata o non data era valutata 0; il test risultava superato con un punteggio >=12.
- dal 2016, il test di autovalutazione della Scuola di Scienze e' costituito da un questionario con 20 domande:
ogni risposta corretta viene pesata con valore 1, ogni risposta sbagliata con -0.25 e ogni risposta non data con 0; il test risulta superato con punteggio >=8.


Nota sui crediti:
"total_cfu_g": sono crediti che corrispondono ad esami con attribuzione di voto, eventualmente anche riconoscimenti da altri CdS.
"total_cfu": comprendono i crediti con voto, quelli di esami per i quali non e' previsto un voto e quelli di eventuali 
riconoscimenti da altri CdS senza riattribuzione del voto.

"avg_g" e' il voto medio degli esami sostenuti

"math_course_g" e' il voto preso all'esame con contenuti di analisi matematica del I anno (se 0 significa che l'esame non e' stato sostenuto)
"math_course_d" e' la data dell'esame di cui al punto precedente

In [9]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('/home/dami/Progetti_unifi/DMO/Dataset/Dataset CdS3+CdS4.csv', sep= ';')
df

,degree,cohort,gender,school,test,total_cfu,total_cfu_g,avg_g,math_course_g,math_course_d
0,CdS3,2010,M,LS,15.00,32,30,25,21,2011-02-25
1,CdS3,2010,M,LS,10.00,14,12,27,0,0000-00-00
2,CdS3,2010,F,LC,8.00,24,24,28,0,0000-00-00
3,CdS3,2010,F,LS,16.00,39,39,26,19,2011-02-25
4,CdS3,2010,M,AL,12.00,6,6,27,0,0000-00-00
...,...,...,...,...,...,...,...,...,...,...
527,CdS4,2016,F,LL,5.50,27,24,28,0,0000-00-00
528,CdS4,2016,M,IT,8.25,39,36,23,19,2017-02-23
529,CdS4,2016,M,LS,3.75,48,48,21,18,2017-02-02
530,CdS4,2016,M,IT,3.75,12,12,26,0,0000-00-00
531,CdS4,2016,F,LL,1.25,51,48,23,20,2017-02-02

# PRE PROCESSING:

In [11]:
print("degree = " + str(df.degree.unique()))
print("cohort = " + str(df.cohort.unique()))
print("gender = " + str(df.gender.unique()))
print("school = " + str(df.school.unique()))
print("test = " + str(df.test.unique()))

degree = ['CdS3' 'CdS4']
cohort = [2010 2011 2012 2013 2014 2015 2016]
gender = ['M' 'F']
school = ['LS' 'LC' 'AL' 'IA' 'TC' 'IT' 'LL' 'IP']
test = [15.   10.    8.   16.   12.   14.   11.   22.    6.   21.    9.   19.
 18.    0.    5.   23.   13.    7.   17.    3.   20.   24.    2.   12.5
  3.75  2.25  1.5   9.25  1.25 -0.75  7.25  1.75  9.5   7.5  -0.25  4.25
  8.5   4.5   6.25  4.75 10.25  7.75 -1.75  5.5  11.5   3.5   0.75 14.75
  4.   10.5  13.5   6.75  2.5   2.75 -1.5  12.75  8.25 -1.25  9.75  6.5
  5.25]

11.228383458646617

In [23]:
def summary(x):
    C = [np.mean(x), np.median(x), np.min(x), np.max(x)]
    return C

## La variabile test
Nota sul test (test di autovalutazione):
- negli anni 2010-2015, il test di autovalutazione della Scuola di SMFN era costituito da un questionario con 25 domande: 
ogni risposta corretta era valutata 1 e ogni risposta sbagliata o non data era valutata 0; il test risultava superato con un punteggio >=12.
- dal 2016, il test di autovalutazione della Scuola di Scienze e' costituito da un questionario con 20 domande:
ogni risposta corretta viene pesata con valore 1, ogni risposta sbagliata con -0.25 e ogni risposta non data con 0; il test risulta superato con punteggio >=8.

In [10]:
df.test

cohortA = [2010, 2011, 2012, 2013, 2014, 2015]

df.cohort == 2010, 2011, 2012, 2013, 2014, 2015

(0       True
 1       True
 2       True
 3       True
 4       True
        ...
 527    False
 528    False
 529    False
 530    False
 531    False
 Name: cohort, Length: 532, dtype: bool, 2011, 2012, 2013, 2014, 2015)